<!----------------------------------- CARD PERSONALE MICHELE -------------------------------------->

<div id="card-allenatori" class="card mb-3 mt-5" style="max-width: 100%;">

  <div id="card-personal" class="row g-0">

    <!----------------------------------- IMMAGINE E DESCRIZIONE -------------------------------------->

    <div class="col-md-4">
      <img src="../../../assets/immagini/Claudio.jpg" class="img-fluid rounded-start" alt="...">
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">CLAUDIO ROSSI</h2>
        <p class="card-text">Laurea Triennale in Scienze Motorie - Università di Urbino (cl.33)</p>
        <p class="card-text">Master Universitario di I livello - Rieducazione Funzionale - Università di Urbino</p>
        <p class="card-text">Tecnico biomeccanico del ciclismo di III livello - Italian Cycling School</p>
        <div id="contatti-allenatori">
          <h4 class="card-title">Contatti</h4>
          <p class="card-text">Telefono: +39 358 111 11 11</p>
          <p class="card-text">E-mail: <a id="email-allenatori"
              href="mailto:abc@example.com">claudiorossi@example.com</a></p>
        </div>

        <!----------------------------------- SERVIZI ICONE -------------------------------------->

        <div class="row">

          <div class="col-md-1 mt-5">
            <div id="card-servizi" class="card">
              <img src="../../../assets/icone/personal_training.1.png" class="card-img-servizi" alt="...">
              <div class="card-img-overlay">
              </div>
            </div>
          </div>

          <div class="col-md-1 mt-5">
            <div id="card-servizi" class="card">
              <img src="../../../assets/icone/allenam_gruppo1.png" class="card-img-servizi" alt="...">
              <div class="card-img-overlay">
              </div>
            </div>
          </div>

          <div class="col-md-1 mt-5">
            <div id="card-servizi" class="card">
              <img src="../../../assets/icone/rieducaz_funzionale.1.png" class="card-img-servizi" alt="...">
              <div class="card-img-overlay">
              </div>
            </div>
          </div>

        </div>

        <!----------------------------------- SERVIZI TESTI -------------------------------------->

        <div class="row">

          <div class="col-md-1 mt-5">
            <h6 class="card-title">personal training</h6>
          </div>

          <div class="col-md-1 mt-5">
            <h6 class="card-title">allenamento di gruppo</h6>
          </div>

          <div class="col-md-1 mt-5">
            <h6 class="card-title">rieducazione funzionale</h6>
          </div>



        </div>

      </div>
    </div>
  </div>