@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body
{
    height: 100vh;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: black;;
}

:root{
    --giallo:rgb(227, 212, 0);
    --giallo-trasp:rgb(205, 193, 31);
    --grigio-card: rgb(44, 44, 44);
    --bianco-trasp:  rgba(255, 255, 255, 0.4);
}