<!----------------------------------- CONTATTI -------------------------------------->

<div id="card-allenatori" class="card mb-3 mt-5" style="max-width: 100%;">

    <div id="card-personal" class="row g-0">

        <!----------------------------------- MAPPA -------------------------------------->

        <div class="col-md-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d727.6242200680458!2d13.72232132263086!3d43.157093251815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1332102b0b3c1b5b%3A0x2d21b985e9b57206!2sVia%20del%20Crocifisso%2C%2063900%20Fermo%20FM%2C%20Italia!5e0!3m2!1sit!2sfr!4v1671030454541!5m2!1sit!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <!----------------------------------- TESTI -------------------------------------->

        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">DOVE SIAMO</h2>
                <p class="card-text">Via del Crocifisso - 63900 - Fermo</p>

                <div id="contatti-allenatori">
                    <h4 class="card-title mb-3">Contatti</h4>

                    <div id="contatti-singoli" class="row g-0">
                        <div class="col-md-3">
                            <p id="contatto-personale" class="card-text">CLAUDIO</p>
                            <p id="contatto-personale" class="card-text">+39 358 111 11 11</p>
                            <p id="contatto-personale" class="card-text"><a id="email-allenatori"
                                    href="mailto:abc@example.com">claudiorossi@example.com</a></p>
                        </div>

                        <div class="col-md-3">
                            <p id="contatto-personale" class="card-text">ALESSANDRO</p>
                            <p id="contatto-personale" class="card-text">+39 358 222 22 22</p>
                            <p id="contatto-personale" class="card-text"><a id="email-allenatori"
                                    href="mailto:abc@example.com">alessandroarbusti@example.com</a></p>
                        </div>

                        <div class="col-md-3">
                            <p id="contatto-personale" class="card-text">FRANCESCA</p>
                            <p id="contatto-personale" class="card-text">+39 358 444 44 44</p>
                            <p id="contatto-personale" class="card-text"><a id="email-allenatori"
                                    href="mailto:abc@example.com">alessandroarbusti@example.com</a></p>
                        </div>

                        <div class="col-md-3">
                            <p id="contatto-personale" class="card-text">MICHELE</p>
                            <p id="contatto-personale" class="card-text">+39 358 555 55 55</p>
                            <p id="contatto-personale" class="card-text"><a id="email-allenatori"
                                    href="mailto:abc@example.com">micheledelrosso@example.com</a></p>
                        </div>

                    </div>

                    <!----------------------------------- SOCIAL -------------------------------------->

                    <div id="social">
                        <h4 class="card-title">Social</h4>
                        <a id="social-link" href="https://www.facebook.com/WellnessInProgress" target="_blank"><i
                                class="bi bi-facebook"></i></a>
                        <a id="social-link" href="https://www.instagram.com/wip.wellnessinprogress/" target="_blank"><i
                                class="bi bi-instagram"></i></a>
                        <a id="social-link" href="https://www.youtube.com/@alessandroarbusti2739" target="_blank"><i
                                class="bi bi-youtube"></i></a>
                    </div>

                </div>
            </div>
        </div>