#container-richieste{
    text-align: center;
}

#testo-richieste{
    font-size: 30px
}

#titoli{
    color: var(--giallo-trasp);
    text-decoration: none;
}

#titoli:hover{
    text-decoration: underline;
}