
<div class="container-fluid footer mt-5">
    <div class="row">

<!----------------------------------- NOME -------------------------------------->

        <div class="col-lg-6 mt-3 mb-3">
            <h1>W.I.P.</h1>
            <h2>Wellness In Progress</h2>
        </div>

<!----------------------------------- NAVBAR -------------------------------------->

        <div class="col-lg-6 mt-3 mb-3">
            <a id="link-pagine" routerLink="home">Home</a>
            <a id="link-pagine" routerLink="chi-siamo">Chi Siamo</a>
            <a id="link-pagine" routerLink="servizi">Servizi</a>
            <a id="link-pagine" routerLink="contatti">Contatti</a>
            <a id="link-pagine" routerLink="calendario">Calensario</a>

<!----------------------------------- SOCIAL -------------------------------------->

            <div class="col-lg-6 mt-3 mb-3">
            <a href="https://www.facebook.com/WellnessInProgress" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/wip.wellnessinprogress/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/@alessandroarbusti2739" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>