<!----------------------------------- CARD PERSONALE MICHELE -------------------------------------->

<div id="card-allenatori" class="card mb-3 mt-5" style="max-width: 100%;">

    <div id="card-personal" class="row g-0">

        <!----------------------------------- IMMAGINE E DESCRIZIONE -------------------------------------->

        <div class="col-md-4">
            <img src="../../../assets/immagini/Michele.jpg" class="img-fluid rounded-start" alt="...">
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">MICHELE DEL ROSSO</h2>
                <p class="card-text">Laurea Triennale in Scienze Motorie (L-22) - Università di Chieti</p>
                <p class="card-text">Laurea Magistrale in Scienze e Tecniche dello Sport (LM-68) - Università di Urbino
                </p>
                <div id="contatti-allenatori">
                    <h4 class="card-title">Contatti</h4>
                    <p class="card-text">Telefono: +39 358 555 55 55</p>
                    <p class="card-text">E-mail: <a id="email-allenatori"
                            href="mailto:abc@example.com">micheledelrosso@example.com</a></p>
                </div>

                <!----------------------------------- SERVIZI ICONE -------------------------------------->

                <div class="row">

                    <div class="col-md-1 mt-5">
                        <div id="card-servizi" class="card">
                            <img src="../../../assets/icone/personal_training.1.png" class="card-img-servizi" alt="...">
                            <div class="card-img-overlay">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 mt-5">
                        <div id="card-servizi" class="card">
                            <img src="../../../assets/icone/allenam_gruppo1.png" class="card-img-servizi" alt="...">
                            <div class="card-img-overlay">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 mt-5">
                        <div id="card-servizi" class="card">
                            <img src="../../../assets/icone/volleyball.1-01.png" class="card-img-servizi" alt="...">
                            <div class="card-img-overlay">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 mt-5">
                        <div id="card-servizi" class="card">
                            <img src="../../../assets/icone/ginnastica_gravidanza.1.png" class="card-img-servizi"
                                alt="...">
                            <div class="card-img-overlay">
                            </div>
                        </div>
                    </div>
                </div>

                <!----------------------------------- SERVIZI TESTI -------------------------------------->

                <div class="row">

                    <div class="col-md-1 mt-5">
                        <h6 class="card-title">personal training</h6>
                    </div>

                    <div class="col-md-1 mt-5">
                        <h6 class="card-title">allenamento di gruppo</h6>
                    </div>

                    <div class="col-md-1 mt-5">
                        <h6 class="card-title">preparazione atletica pallavolo</h6>
                    </div>

                    <div class="col-md-1 mt-5">
                        <h6 class="card-title">ginnastica in gravidanza</h6>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>