
<!----------------------------------- GRUPPO 1 CARD SERVIZI -------------------------------------->

<div id="container-servizi" class="container mt-5">

    <div class="row">

        <div class="col-lg-2 mt-5 mb-5">
            <div id="card-servizi" class="card">
                <img src="../../../assets/icone/personal_training.1.png" class="card-img-servizi" alt="...">
                <div class="card-img-overlay">
                    <div id="testo-card-servizi">
                        <h3 class="card-title">personal training</h3>
                    </div>

                    <div class="row">
                        <a href="michele" id="btn-servizi" class="btn btn-dark">Michele</a>
                        <a href="alessandro" id="btn-servizi" class="btn btn-dark">Alessandro</a>
                        <a href="claudio" id="btn-servizi" class="btn btn-dark">Claudio</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-2 mt-5 mb-5">
            <div id="card-servizi" class="card">
                <img src="../../../assets/icone/allenam_gruppo1.png" class="card-img-servizi" alt="...">
                <div class="card-img-overlay">
                    <div id="testo-card-servizi">
                        <h3 class="card-title">allenamento di gruppo</h3>
                    </div>

                    <div class="row">
                        <a href="michele" id="btn-servizi" class="btn btn-dark">Michele</a>
                        <a href="alessandro" id="btn-servizi" class="btn btn-dark">Alessandro</a>
                        <a href="claudio" id="btn-servizi" class="btn btn-dark">Claudio</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-2 mt-5 mb-5">
            <div id="card-servizi" class="card">
                <img src="../../../assets/icone/volleyball.1-01.png" class="card-img-servizi" alt="...">
                <div class="card-img-overlay">
                    <div id="testo-card-servizi">
                        <h4 class="card-title">preparazione atletica pallavolo</h4>
                    </div>

                    <div class="row">
                        <a href="michele" id="btn-servizi" class="btn btn-dark">Michele</a>
                        <a href="alessandro" id="btn-servizi" class="btn btn-dark">Alessandro</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-2 mt-5 mb-5">
            <div id="card-servizi" class="card">
                <img src="../../../assets/icone/basketball1-01.png" class="card-img-servizi" alt="...">
                <div class="card-img-overlay">
                    <div id="testo-card-servizi">
                        <h3 class="card-title">preparazione atletica basket</h3>
                    </div>

                    <div class="row">
                        <a href="alessandro" id="btn-servizi" class="btn btn-dark">Alessandro</a>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-lg-2 mt-5 mb-5">
            <div id="card-servizi" class="card">
                <img src="../../../assets/icone/rieducaz_funzionale.1.png" class="card-img-servizi" alt="...">
                <div class="card-img-overlay">
                    <div id="testo-card-servizi">
                        <h3 class="card-title">rieducazione funzionale</h3>
                    </div>

                    <div class="row">
                        <a href="alessandro" id="btn-servizi" class="btn btn-dark">Alessandro</a>
                        <a href="claudio" id="btn-servizi" class="btn btn-dark">Claudio</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-2 mt-5 mb-5">
            <div id="card-servizi" class="card">
                <img src="../../../assets/icone/riatletizz_post_infortunio.1.png" class="card-img-servizi" alt="...">
                <div class="card-img-overlay">
                    <div id="testo-card-servizi">
                        <h4 class="card-title">riatletizzazione post-infortunio</h4>
                    </div>

                    <div class="row">
                        <a href="alessandro" id="btn-servizi" class="btn btn-dark">Alessandro</a>
                    </div>

                </div>
            </div>
        </div>

<!----------------------------------- GRUPPO 2 CARD SERVIZI -------------------------------------->

        <div class="row">

            <div class="col-lg-2 mt-5 mb-5">
                <div id="card-servizi" class="card">
                    <img src="../../../assets/icone/analisi_biomeccanica_ciclisti1.png" class="card-img-servizi"
                        alt="...">
                    <div class="card-img-overlay">
                        <div id="testo-card-servizi">
                            <h4 class="card-title">analisi biomeccanica dei ciclisti</h4>
                        </div>

                        <div class="row">
                            <a href="alessandro" id="btn-servizi" class="btn btn-dark">Alessandro</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-2 mt-5 mb-5">
                <div id="card-servizi" class="card">
                    <img src="../../../assets/icone/ginnastica_gravidanza.1.png" class="card-img-servizi" alt="...">
                    <div class="card-img-overlay">
                        <div id="testo-card-servizi">
                            <h3 class="card-title">ginnastica in gravidanza</h3>
                        </div>

                        <div class="row">
                            <a href="michele" id="btn-servizi" class="btn btn-dark">Michele</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-2 mt-5 mb-5">
                <div id="card-servizi" class="card">
                    <img src="../../../assets/icone/ginnast_postirale_indiv1.png" class="card-img-servizi" alt="...">
                    <div class="card-img-overlay">
                        <div id="testo-card-servizi">
                            <h4 class="card-title">ginnastica posturale individuale</h4>
                        </div>

                        <div class="row">
                            <a href="alessandro" id="btn-servizi" class="btn btn-dark">Alessandro</a>
                            <a href="francesca" id="btn-servizi" class="btn btn-dark">Francesca</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-2 mt-5 mb-5">
                <div id="card-servizi" class="card">
                    <img src="../../../assets/icone/ginnastica_adulti.png" class="card-img-servizi" alt="...">
                    <div class="card-img-overlay">
                        <div id="testo-card-servizi">
                            <h3 class="card-title">ginnastica per adulti</h3>
                        </div>

                        <div class="row">
                            <a href="francesca" id="btn-servizi" class="btn btn-dark">Francesca</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-2 mt-5 mb-5">
                <div id="card-servizi" class="card">
                    <img src="../../../assets/icone/ginnastica_terza_eta.1.png" class="card-img-servizi" alt="...">
                    <div class="card-img-overlay">
                        <div id="testo-card-servizi">
                            <h3 class="card-title">ginnastica terza età</h3>
                        </div>

                        <div class="row">
                            <a href="francesca" id="btn-servizi" class="btn btn-dark">Francesca</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-2 mt-5 mb-5">
                <div id="card-servizi" class="card">
                    <img src="../../../assets/icone/osteopatia_adulti.1.png" class="card-img-servizi" alt="...">
                    <div class="card-img-overlay">
                        <div id="testo-card-servizi">
                            <h3 class="card-title">osteopatia adulti</h3>
                        </div>

                        <div class="row">
                            <a href="francesca" id="btn-servizi" class="btn btn-dark">Francesca</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>

<!----------------------------------- GRUPPO 3 CARD SERVIZI -------------------------------------->

        <div class="row">

            <div class="col-lg-2 mt-5 mb-3">
                <div id="card-servizi" class="card">
                    <img src="../../../assets/icone/osteopatia_gravidanza.1.png" class="card-img-servizi" alt="...">
                    <div class="card-img-overlay">
                        <div id="testo-card-servizi">
                            <h3 class="card-title">osteopatia in gravidanza</h3>
                        </div>

                        <div class="row">
                            <a href="francesca" id="btn-servizi" class="btn btn-dark">Francesca</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-2 mt-5 mb-3">
                <div id="card-servizi" class="card">
                    <img src="../../../assets/icone/osteopatia_pediatrica.1.png" class="card-img-servizi" alt="...">
                    <div class="card-img-overlay">
                        <div id="testo-card-servizi">
                            <h3 class="card-title">osteopatia pediatrica</h3>
                        </div>

                        <div class="row">
                            <a href="francesca" id="btn-servizi" class="btn btn-dark">Francesca</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>