<!----------------------------------- LOG IN -------------------------------------->

<div id="container-form" class="container col-md-6">

    <h1 id="titoli-form" class="mb-5">Log In</h1>

    <form [formGroup]="loginForm" (ngSubmit)="logIn()">

        <div class="mb-3">
            <label id="titoli-form" for="exampleFormControlInput1" class="form-label">Indirizzo e-mail</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>

        <div class="mb-4">
            <label id="titoli-form" for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div>
                <input type="password" class="form-control" id="password" placeholder="Password">
                <!--<span id="titoli-form" (click)="hideShowPass()" class="bi {{eyeIcon}}"></span>-->
            </div>
        </div>

        <button id="bottone-form" type="submit" class="btn">Log In</button>
        <div class="pt-4 text-muted">Non hai un account? <a id="registrati" routerLink="/signup">Registrati!</a></div>

    </form>

</div>