<!----------------------------------- CARD PERSONALE MICHELE -------------------------------------->

<div id="card-allenatori" class="card mb-3 mt-5" style="max-width: 100%;">

  <div id="card-personal" class="row g-0">

    <!----------------------------------- IMMAGINE E DESCRIZIONE -------------------------------------->

    <div class="col-md-4">
      <img src="../../../assets/immagini/Francesca.jpg" class="img-fluid rounded-start" alt="...">
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">FRANCESCA ONORI</h2>
        <p class="card-text">Laurea Triennale in Scienze Motorie - Università di Chieti</p>
        <p class="card-text">Diploma di Osteopatia - Osteopata D.O.
        </p>
        <div id="contatti-allenatori">
          <h4 class="card-title">Contatti</h4>
          <p class="card-text">Telefono: +39 358 444 44 44</p>
          <p class="card-text">E-mail: <a id="email-allenatori"
              href="mailto:abc@example.com">francescaonori@example.com</a></p>
        </div>

        <!----------------------------------- SERVIZI ICONE -------------------------------------->

        <div class="row">

          <div class="col-md-1 mt-5">
            <div id="card-servizi" class="card">
              <img src="../../../assets/icone/ginnast_postirale_indiv1.png" class="card-img-servizi" alt="...">
              <div class="card-img-overlay">
              </div>
            </div>
          </div>

          <div class="col-md-1 mt-5">
            <div id="card-servizi" class="card">
              <img src="../../../assets/icone/ginnastica_adulti.png" class="card-img-servizi" alt="...">
              <div class="card-img-overlay">
              </div>
            </div>
          </div>

          <div class="col-md-1 mt-5">
            <div id="card-servizi" class="card">
              <img src="../../../assets/icone/ginnastica_terza_eta.1.png" class="card-img-servizi" alt="...">
              <div class="card-img-overlay">
              </div>
            </div>
          </div>

          <div class="col-md-1 mt-5">
            <div id="card-servizi" class="card">
              <img src="../../../assets/icone/osteopatia_adulti.1.png" class="card-img-servizi" alt="...">
              <div class="card-img-overlay">
              </div>
            </div>
          </div>

          <div class="col-md-1 mt-5">
            <div id="card-servizi" class="card">
              <img src="../../../assets/icone/osteopatia_gravidanza.1.png" class="card-img-servizi" alt="...">
              <div class="card-img-overlay">
              </div>
            </div>
          </div>

          <div class="col-md-1 mt-5">
            <div id="card-servizi" class="card">
              <img src="../../../assets/icone/osteopatia_pediatrica.1.png" class="card-img-servizi" alt="...">
              <div class="card-img-overlay">
              </div>
            </div>
          </div>

        </div>

        <!----------------------------------- SERVIZI TESTI -------------------------------------->

        <div class="row">

          <div class="col-md-1 mt-5">
            <h6 class="card-title">ginnastica posturale individuale</h6>
          </div>

          <div class="col-md-1 mt-5">
            <h6 class="card-title">ginnastica per adulti</h6>
          </div>

          <div class="col-md-1 mt-5">
            <h6 class="card-title">ginnastica terza età</h6>
          </div>

          <div class="col-md-1 mt-5">
            <h6 class="card-title">osteopatia per adulti</h6>
          </div>

          <div class="col-md-1 mt-5">
            <h6 class="card-title">osteopatia in gravidanza</h6>
          </div>

          <div class="col-md-1 mt-5">
            <h6 class="card-title">osteopatia pediatrica</h6>
          </div>

        </div>

      </div>
    </div>
  </div>