<!----------------------------------- CARD ALLENATORI -------------------------------------->

<div id="container-chi-siamo" class="container mt-5">

<!--CARD PROVA 1
    <div class="col-lg-3 mt-1 mb-1">
      <div id="card-chi-siamo" class="card" style="width: 18rem;">
        <img src="../../../assets/immagini/Claudio.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CLAUDIO - <small class="card-text">Chinesiologo</small></h5>
          <a href="claudio" id="btn-chi-siamo" class="btn">Vai alla scheda di Claudio</a>
        </div>
      </div>
    </div>
    -->

    <div class="row">

    <div class="col-lg-3 mt-3 mb-3">
      <div id="card-chi-siamo" class="card" style="width: 18rem;">
        <img src="../../../assets/immagini/Claudio.jpg" class="card-img-top" alt="...">
        <div id="card-alessandro" class="card-body">
          <h5 class="card-title">CLAUDIO - <small class="card-text">Chinesiologo</small></h5>
          <a href="claudio" id="btn-chi-siamo" class="btn">Vai alla scheda di Claudio</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 mt-3 mb-3">
      <div id="card-chi-siamo" class="card" style="width: 18rem;">
        <img src="../../../assets/immagini/Alessandro.jpg" class="card-img-top" alt="...">
        <div id="card-alessandro" class="card-body">
          <h5 class="card-title">ALESSANDRO - <small class="card-text">Chinesiologo</small></h5>
          <a href="alessandro" id="btn-chi-siamo" class="btn">Vai alla scheda di Alessandro</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 mt-3 mb-3">
      <div id="card-chi-siamo" class="card" style="width: 18rem;">
        <img src="../../../assets/immagini/Francesca.jpg" class="card-img-top" alt="...">
        <div id="card-alessandro" class="card-body">
          <h5 class="card-title">FRANCESCA - <small class="card-text">Chinesiologa</small></h5>
          <a href="francesca" id="btn-chi-siamo" class="btn">Vai alla scheda di Francesca</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 mt-3 mb-3">
      <div id="card-chi-siamo" class="card" style="width: 18rem;">
        <img src="../../../assets/immagini/Michele.jpg" class="card-img-top" alt="...">
        <div id="card-alessandro" class="card-body">
          <h5 class="card-title">MICHELE - <small class="card-text">Chinesiologo</small></h5>
          <a href="michele" id="btn-chi-siamo" class="btn">Vai alla scheda di Michele</a>
        </div>
      </div>
    </div>

  </div>

<!--CARD PROVA 2
    <div class="col-lg-3 mt-3 mb-3">
      <div id="card-chi-siamo" class="card" style="width: 18rem;">
        <img src="../../../assets/immagini/Francesca.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">FRANCESCA</h5>
          <p class="card-text">Chinesiologa</p>
          <a href="francesca" id="btn-chi-siamo" class="btn">Vai alla scheda di Francesca</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 mt-3 mb-3">
      <div id="card-chi-siamo" class="card" style="width: 18rem;">
        <img src="../../../assets/immagini/Michele.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MICHELE</h5>
          <p class="card-text">Chinesiologo.</p>
          <a href="michele" id="btn-chi-siamo" class="btn">Vai alla scheda di Michele</a>
        </div>
      </div>
    </div>
-->

<!--CARD PROVA 3
      <div class="col-lg-3 mt-3 mb-3">
      <div class="card text-bg-dark">
        <img src="../../../assets/immagini/Claudio.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <div id="testo-card">
            <h5 class="card-title">CLAUDIO</h5>
            <p class="card-text">Chinesiologo.</p>
          </div>
          <a href="claudio" id="btn-chi-siamo-2" class="btn btn-dark">Vai alla scheda di Claudio</a>
        </div>
      </div>
    </div>
      
    <div class="col-lg-3 mt-3 mb-3">
      <div class="card text-bg-dark">
        <img src="../../../assets/immagini/Alessandro.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <div id="testo-card">
            <h5 class="card-title">ALESSANDRO</h5>
            <p class="card-text">Chinesiologo.</p>
          </div>
          <a href="alessandro" id="btn-chi-siamo-2" class="btn btn-dark">Vai alla scheda di Alessandro</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 mt-3 mb-3">
      <div class="card text-bg-dark">
        <img src="../../../assets/immagini/Francesca.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <div id="testo-card">
            <h5 class="card-title">FRANCESCA</h5>
            <p class="card-text">Chinesiologo.</p>
          </div>
          <a href="francesca" id="btn-chi-siamo-2" class="btn btn-dark">Vai alla scheda di Francesca</a>
        </div>
      </div>
    </div>
      <div class="col-lg-3 mt-3 mb-3">
      <div class="card text-bg-dark">
        <img src="../../../assets/immagini/Michele.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <div id="testo-card">
            <h5 class="card-title">MICHELE</h5>
            <p class="card-text">Chinesiologo.</p>
          </div>
          <a href="michele" id="btn-chi-siamo-2" class="btn btn-dark">Vai alla scheda di Michele</a>
        </div>
      </div>
    </div>
  </div>
-->